<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Backbone Homework</title>
	  <!-- Adding Backbone.Modal extension here -->
	<link rel="stylesheet" href="bbcss/style.css">
</head>
<body>
	<form id="addPerson" action="">
		<input type="text" id='name' placeholder="Name of the person">
		<input type="text" id='age' placeholder="Age">
		<input type="text" id='occupation' placeholder="Occupation">
		<input type="radio" id='male' name='gender' value='M'>
		<label for='male'>male</label>
		<input type="radio" id='female' name='gender' value='F' checked>
		<label for='female'>female</label>
		<input type="submit" value="Add Person">
	</form>

<script id="personTemplate" type="text/template">
	<div id='personDetail'>
		<span><strong><%= name %></strong> (<%= age %>) (<%= gender %>) - <%= occupation %></span>
		<button class="edit">Edit</button>
		<button class="delete">Delete</button>
	</div>
	<div id='editDetails'>
			<input type="text" id='newName' value="<%- name %>">
			<input type="text" id='newAge' value="<%- age %>">
			<input type="text" id='newOccupation' value="<%- occupation %>">
			<input type="radio" id='male' name='gender' value='M' <%= gender === 'M' ? 'checked' : '' %>>
			<label for='male'>male</label>
			<input type="radio" id='female' name='gender' value='F' <%= gender === 'F' ? 'checked' : '' %>>
			<label for='female'>female</label>
			<button id='saveDetails'>Save Details</button>
			<button class="close">Close</button>
	</div>
</script>

<script src="./bbjs/underscore.js"></script>
<script src="./bbjs/jquery.js"></script>
<script src="./bbjs/backbone.js"></script>
<script src="./bbjs/main.js"></script>
</body>
</html>